*{
    margin: 0;
    padding: 0;
}

header ul a{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 5px;
}


#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    scale: .6;
}

#logoText{
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.bottomMenu{
    position: sticky;
    bottom: 0;
    background-color: #333;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}